# name of S3 bucket
S3_BUCKET = 'my-data-bucket'

# location of google service account credential file
GOOGLE_KEYFILE = '~/.keys/project-6chxd3f31395.json'

# file id of google spreadsheet
GOOGLE_SPREADSHEET_ID = 'adfsdfasdfasdfasdfadsfa1221321312'

# title of google spreadsheet
GOOGLE_SPREADSHEET_NAME = 'my spreadsheet title'

# location of local csv
LOCAL_CSV = 'test/test.csv'

# iam group
IAM_GROUP = 'data-requests'
# IAM_GROUP = 'test-users'

